.avitus-header {
    text-align: left;

  
}
.avitus-slideshow {
    align-content: center;
}
.project-description {
    margin: 100px 100px 100px 100px;
    line-height: 2em;
}
.character-cast {
    display: grid;
    gap: 20px;
}
.character-card {
    color: black;
    background-color: white;
    display: grid;
    margin: 5em;
    border-radius: 10px;
box-shadow: 2px 2px 6px 0px rgb(0,0,0,0.3);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 300px 1fr;
    
}
.character-img {
grid-column: 1/2;
justify-self: center;
padding-top: 2em;
grid-row: 1/2;
}
.character-header {
grid-column: 1/2;
grid-row: 2/-2;
padding-bottom: 1em;
justify-self: center;


}
.character-description {
grid-column: 2/3;
grid-row: 1/2;
line-height: 1.5em;
padding: 2em;
}
@media (max-width: 320px){
    .container {
        width: auto;
        margin: auto;
    }
    .project-description {
        margin: 35px; 
        line-height: 2em;
    }
    .character-cast {
       
        display: grid;
        gap: 10px;
    
    }
    .character-card {
        color: black;
        background-color: white;
        display: grid;
        grid-template-columns: 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "character-img"
        "character-header"
        "character-description";
        
    }
    .character-header {
        grid-area: character-header;
        padding-bottom: 0.2em;

    }
    .character-img {
        grid-area: character-img;
    }
    .character-description {
        grid-area: character-description;
        padding-top: 0.5em;
    }
}
@media (min-width: 320px) {
      .container {
        width: 100%
    }
    .project-description {
        margin: auto;
        line-height: 2em;
    }
    .character-cast {
        margin:auto;
        display: grid;
        gap: 10px;
    
    }
    .character-card {
        color: black;
        background-color: white;
        display: grid;
        grid-template-columns: 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "character-img"
        "character-header"
        "character-description";
        
    }
    .character-header {
        grid-area: character-header;
        padding-bottom: 0.2em;

    }
    .character-img {
        grid-area: character-img;
    }
    .character-description {
        grid-area: character-description;
        padding-top: 0.5em;
    }
}
@media (max-width: 480px) {
    .character-cast {
        display: grid;
        gap: 30px;
    }
    .character-card {
        color: black;
        background-color: white;
        display: grid;
        
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "character-img"
        "character-header"
        "character-description";
        
    }
    .character-header {
        grid-area: character-header;
        padding-bottom: 0.1em;

    }
    .character-img {
        grid-area: character-img;
    }
    .character-description {
        grid-area: character-description;
        padding-top: 0.3em;
    }
}
@media (max-width: 600px) {
    .character-cast {
        display: grid;
        gap: 30px;
    }
    .character-card {
        color: black;
        background-color: white;
        display: grid;
        
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "character-img"
        "character-header"
        "character-description";
        
    }
    .character-header {
        grid-area: character-header;
        padding-bottom: 0.2em;

    }
    .character-img {
        grid-area: character-img;
    }
    .character-description {
        grid-area: character-description;
        padding-top: 0.5em;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media (max-width: 768px) {
    .character-cast {
        display: grid;
        gap: 30px;
    }
    .character-card {
        color: black;
        background-color: white;
        display: grid;
        
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "character-img"
        "character-header"
        "character-description";
        
    }
    .character-header {
        grid-area: character-header;
        padding-bottom: 0.2em;

    }
    .character-img {
        grid-area: character-img;
    }
    .character-description {
        grid-area: character-description;
        padding-top: 0.5em;
    }
  }
  @media(max-width: 992px) {
    .character-cast {
        display: grid;
        gap: 30px;
    }
    .character-card {
        color: black;
        background-color: white;
        display: grid;
        
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "character-img"
        "character-header"
        "character-description";
        
    }
    .character-header {
        grid-area: character-header;
        padding-bottom: 0.2em;

    }
    .character-img {
        grid-area: character-img;
    }
    .character-description {
        grid-area: character-description;
        padding-top: 0.5em;
    }
  }
